@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SUIT-Bold', sans-serif;
    user-select: none;
}

@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

a {
    color: navy;
    text-decoration: none;
}
