.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 1rem;
}

.container h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.box {
    background: white;
    width: 100%;
    max-width: 60rem;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
}

.box img {
    border-radius: 1rem;
    max-width: 20rem;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/4;
}

.textBox {
    width: 100%;
    background: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textBox p {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.boxes {
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.boxes .box {
    flex-direction: column;
    gap: 0.5rem;
}

.boxes p {
    padding-left: 0.5rem;
    font-size: 1.5rem;
}

#kdmhs {
    border-left: 0.5rem solid deeppink;
}

#stealth {
    border-left: 0.5rem solid black;
}

#stare {
    border-left: 0.5rem solid lightslategrey;
}

#stac {
    border-left: 0.5rem solid orangered;
}

#junctionasia {
    border-left: 0.5rem solid darkorange;
}
#codefairhackathon
{
    border-left: 0.5rem solid cadetblue;
}

.kdmhs {
    color: hotpink;
}
.views {
    color: mediumseagreen;
}

.jetpackcompose {
    color: mediumpurple;
}

.flutter {
    color: cornflowerblue;
}

.nextjs {
    color: slategrey;
}

.flask {
    color: steelblue;
}

.postgresql {
    color: darkslateblue;
}


.firstBox {
    flex: 2;
}

.secondBox {
    flex: 3;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }
    .textBox {
        padding: 1rem;
    }
    .textBox p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .boxes {
        flex-direction: column;
        gap: 0;
    }
    .box img {
        aspect-ratio: 4/3;
        max-width: none;
        max-height: 15rem;
    }
    .boxes p {
        font-size: 1.2rem;
    }
}