.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem 1rem;
    height: 100vh;
    gap: 1rem;
}

.container img {
    height: 8rem;
    width: auto;
    border-radius: 1rem;
    transition: height 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#logo {
    box-shadow: 0 0 2rem #567;
}

#stare {
    box-shadow: 0 0 2rem grey;
    background-color: white;
    padding: 1rem;
    aspect-ratio: 1/1;
}

#stealth {
    box-shadow: 0 0 2rem black;
    background-color: black;
    aspect-ratio: 1/1;
}

#android {
    box-shadow: 0 0 2rem forestgreen;
    background-color: white;
    padding: 0.5rem;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.container img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .container img {
        height: 6rem;
    }
}
