@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

.container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.box {
    background: white;
    width: 100%;
    max-width: 60rem;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

.box img {
    max-width: 15rem;
    border: black 0.5rem solid;
    border-radius: 3rem;
}

.textBox {
    width: 100%;
    background: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
}

.textBox p {
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.row h1, .row p {
    margin: 0;
}

.horizontalRule {
    width: 100%;
    height: 0.1rem;
    background-color: #333;
    border: none;
    margin: 20px 0;
}

#tastebyyou {
    box-shadow: 0 0 1rem darkorange;
}

#glud {
    box-shadow: 0 0 1rem deepskyblue;
}

#monty {
    box-shadow: 0 0 1rem royalblue;
}