.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

.container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.box {
    background: white;
    width: 100%;
    max-width: 60rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    flex: 2;
}

