@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 1rem;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.projects {
    max-width: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.project {
    width: 34.5rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.project img {
    width: 100%;
    max-height: 15rem;
    aspect-ratio: 2/1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem
}

.textBox {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textBox h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.textBox p {
    font-size: 1.5rem;
}

.tags {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: black;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    .textBox {
        padding: 1rem;
    }

    .textBox p {
        font-size: 1.2rem;
    }

    .boxes {
        flex-direction: column;
        gap: 0;
    }
}
