.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 1rem;
}

.container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.skills img {
    max-width: 15rem;
    aspect-ratio: 3;
    transition: height 0.2s ease-in-out, transform 0.2s ease-in-out;
    object-fit: contain;
}

.skills img:hover {
    transform: scale(1.1);
}

.box {
    background: white;
    width: 100%;
    max-width: 60rem;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skillItem p {
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    .box {
        padding: 1rem;
    }

    .skills {
        gap: 1rem;
    }

    .skills img {
        max-width: 10rem;
    }
}
